/* 
    Author     : ryan
*/
body {
    background: -webkit-linear-gradient(left, beige , white, beige); // For Safari 5.1 to 6.0
    background: -o-linear-gradient(right, beige, white, beige); // For Opera 11.1 to 12.0
    background: -moz-linear-gradient(right, beige, white, beige); // For Firefox 3.6 to 15
    background: linear-gradient(to right, beige , white, beige);  // Standard syntax
}

/*
    forms and fieldsets global styles
*/
.fieldset {
    border: none;
    text-align: center;
}

/*
    labels for input fields
*/
.formLabel {
    padding: 1em;
}

input[type=text], input[type=password], input[type=submit] {
    border: 3px solid rgba(143, 188, 143, .8);
    border-radius: 5px;
    text-align: center;
    box-shadow: 1px 1px 5px black;
    margin: 5px;
}

select {
    border: 3px solid rgba(143, 188, 143, .8);
    text-align: center;
    box-shadow: 1px 1px 5px black;
    margin: 5px;
}

input[type=submit] {
    background-color: white;
    color: black;
}

/*
    header bar
*/
.top {
    width: 100%;
    background: -webkit-linear-gradient(left, rgba(143,188,143,1) , white, rgba(143,188,143,.5)); // For Safari 5.1 to 6.0
    background: -o-linear-gradient(right, rgba(143,188,143,1) , white, rgba(143,188,143,.5)); // For Opera 11.1 to 12.0
    background: -moz-linear-gradient(right, rgba(143,188,143,1) , white, rgba(143,188,143,.5)); // For Firefox 3.6 to 15
    background: linear-gradient(to right,  rgba(143,188,143,1) , white, rgba(143,188,143,.5) ); // Standard syntax
    border-bottom: 1px solid darkseagreen;
    position: fixed;
    height: 4em;
    clear: both;
    //top: 0;
}

.navItemRight {
    float: right;
    padding-right: 3em;
    padding-top: 2em;
}

.navItemLeft {
    float: left;
    padding-left: 3em;
    margin-top: 2em;
}

.logoLeft {
    float: left;
}

.navList {
    float: right;
    padding-right: 3em;
    padding-top: 2em;
}

.navList li {
    float: left;
    padding-right: 1em;
    //margin: 5px;
    display: inline-block;
    //border-radius: 6px;
    //height: 50px;
    //box-shadow: 0px -1px 1px black;
    //background: -webkit-linear-gradient(bottom, beige , rgba(0,0,0,0));
    //background: -o-linear-gradient(bottom, beige, white, beige);
    //background: -moz-linear-gradient(bottom, beige, white, beige);
    //background: linear-gradient(to bottom, beige , beige, rgba(255,255,255,.5));  //Standard syntax
}

.navList a {
    text-decoration: none;
}

/*
    text decoration etc
*/
.underline {
    text-decoration: underline;
}

/*
    tables ***************************************************
*/
table th {
    //text-align: left;
}

.sortable th {
    cursor: pointer;  
}

/*
    lightbox
*/
#lightbox {
	position: absolute;
	top: 0;
	left: 50%;
	width: 500px;
	margin-left: -250px;
	background: #fff;
	z-index: 1001;
	display: none;
}

#lightbox-shadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	filter: alpha(opacity=75);
	-moz-opacity: 0.75;
	-khtml-opacity: 0.75;
	opacity: 0.75;
	z-index: 1000;
	display: none;
}