/*
    Author     : ryan
*/
/*
    new transaction section (under header bar)
*/
.transactionEntry {
    padding-top: 8em;
    //margin-top: 8em;
    height: 5em;
    border-bottom: 1px solid black;
    text-align: center;
}

.date {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

.dollarSign {
    position: relative;
    left: 22px;
    top: 1px;
    color: Gray;
}

/*
    spans for note/category
*/
.category {
    display: none;
}

.note {
    display: inline-block;
}

/*
    TRANSACTION VIEW SECTION (BOTTOM HALF) *************************************
*/

/*
    div for entire section
*/
.transactionView {
    margin: 0 auto;
    text-align: center;
    overflow-x: hidden;
    min-width: 852px;
}

/*
    header line - day/month and range selector
*/
.transViewHeader {
    padding-top: 1em;
    padding-left: 3em;
}

/*
    goal tracker *************************************************************
*/
.goalTrackerDiv {
    position: static;
    display: inline-block;
    width: 100px;
    max-width: 100px;
    height: 418px;
    max-height: 418px;
    text-align: center;
    margin-right: 3em;
}

.goalCanvas {
    width: 98%;
    height: 400px;
    margin-top: 3px;
    box-shadow: 0px 0px 6px 1px black;
}

.goalHeader {
    margin-bottom: 2px;
}

.goalFooter {
    margin-top: 2px;
}

/*
    output view *************************************************************
*/
.dayView {
    position: static;
    vertical-align: top;
    display: inline-block;
    margin-left: 3em;
    margin-right: 3em;
    overflow-y: scroll;
    width: 400px;
    max-width: 400px;
    height: 418px;
    max-height: 418px;
}

.dayTable {
    float: left;
}

.dayTable td {
    background: rgba(200,200,200,.7);
    background-clip: content-box;
    padding: 5px;
}

.dayTable th {
    padding: 5px;
}

/*
    Summary View
*/
.daySummary {
    vertical-align: top;
    display: inline-block;
    width: 200px;
    max-width: 200px;
    text-align: left;
}