/* 
    Author     : ryan
*/
/*
    Top Sections
    Income information, account management and savings goals
*/

.contentWrap {
    min-width: 900px;
    max-width: 900px;
    margin: 0 auto;
    position: relative;
}

.settingsPanel {
    position: absolute;
    display: inline-block;
    //border: 10px solid lightskyblue;
    min-height: 300px;
    max-height: 300px;
    min-width: 300px;
    max-width: 300px;
    border: 10px solid darkseagreen;
    border-radius: 10px;
    
    top: 64px;
}

.income {
    //float: left;
    left: 0;
}

.savings {
    //float: right;
    right: 0;
}

.buttonWrap {
    //position: relative;
    display: inline-block;
    
    min-height: 300px;
    max-height: 300px;
    min-width: 110px;
    max-width: 110px;
    position: absolute;
    top: 64px;
    margin-left: 350px;
}

.managementButton {
    position: relative;
    min-height: 85px;
    max-height: 85px;
    min-width: 85px;
    max-width: 85px;
    margin-top: 3px;
    margin-bottom: 5px;
    margin-left: 50%;
    margin-right: 50%;
    border: 8px solid darkseagreen;
    border-radius: 10px;
    cursor: pointer;
}

//font stuff
.settingsPanelHeader {
    color: blue;
    font-size: 60px;
    padding: 5px;
}

.settingsPanelFooter {
    position: absolute;
    bottom: 0;
    right: 0;
    color: blue;
    font-size: 48px;
    padding: 5px;
}

.settingsPanelInfo {
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
}

/*
    Bottom Section
    Bill Management
*/
.billManagament {
    position: absolute;
    width: 100%;
    top: 450px;
}

.billsHeader {
    min-width: 100%;
    max-width: 100%;
    border-bottom: 10px solid darkseagreen;
    border-radius: 5px;
}

.billsTitle {
    font-size: 60px;
}

/*
    input section
*/
.dollarSign {
    position: relative;
    left: 22px;
    top: 1px;
    color: Gray;
    z-index: 1000;
}

.newBill {
    position: relative;
    top: 25px;
    min-width: 500px;
    //max-width: 600px;
    //margin: 0 auto;
}

.newBill input[type=text], select {
    margin-right: 25px;
}

.radio {
    margin-right: 25px;
}

/*
    bills display table
*/
.billsTableDiv {
    //border: 1px solid black;
}

.billsTable {
    margin-top: 3em;
    //border: 1px solid blue;
}

.billsTable td {
    padding: 10px;
}