/* 
    Author     : ryan
*/
.contentWrap {
    //border: 1px solid black;
    position: relative;
    min-width: 852px;
    max-width: 852px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0em;
}

.historyHeader {
    margin: 3em 0 0 3em;
}

select {
    border: none !important;
    box-shadow: none !important;
    background: rgba(143, 188, 143, .5);
}

.historyTable {
    margin: 3em 0 0 3em;
}

.historyTable td {
    padding: 5px;
    width: 100px;
    background: rgba(200,200,200,.7);
    background-clip: content-box;
}

.historyTable p {
    display: inline;
    margin-left: 5px;
}

.historyTable th {
    text-align: left;
    border-bottom: 1px solid black;
}

.multiDelete {
    position: absolute;
    right: 0;
}

.budgetSummary td {
    padding: 5px;
}

.tableDiv {
    max-height: 600px;
    overflow-y: auto;
}